<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="ngEPL.ngEPL_Android" android:versionName="0.0.10">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<application android:label="ngEPL"></application>
</manifest>